/* see http://perishablepress.com/a-killer-collection-of-global-css-reset-styles/ */

/* do i need the before after selectors here? */
*, *:before, *:after
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  vertical-align: baseline
  font-weight: inherit
  // font-family: inherit
  font-style: inherit
  font-size: 100%
  border: 0 none
  outline: 0
  padding: 0
  margin: 0
  background-color transparent
  text-decoration none

ul, ol
  list-style none

:link, :visited
  text-decoration none

html
  height 100%

body
  min-height 100%